.btn {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  white-space: normal;

  .cell {
    float: left;
    padding: 0.25rem 0.5rem;
    border-right: 1px solid $color-grey4;

    &:last-child {
      border-right: 0;
    }
  }
}

.btn-secondary {
  color: $color-grey2;
}

.btn-faded {
  opacity: 0.3;
}

.btn-wide {
  @extend .pl-2;
  @extend .pr-2;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .btn-block-#{$breakpoint}-up { width: 100%; display: block }
  }

  @include media-breakpoint-down($breakpoint) {
    .btn-block-#{$breakpoint}-down { width: 100%; display: block }
  }
}
