$bc-facebook: #3b5998;

$bc-twitter: #1da1f2;
$bc-twitter-2: #14171a;
$bc-twitter-3: #657786;
$bc-twitter-4: #aab8c2;
$bc-twitter-5: #e1e8ed;
$bc-twitter-6: #f5f8fa;

$bc-youtube: #cd201f;

.btn-facebook {
  background: $bc-facebook;
  color: #FFF;

  &:hover {
    background: darken( $bc-facebook, 10% );
    color: #FFF;
  }
}
