.text-white {
  color: #FFF;
}

.text-grey {
  color: #999;
}

.text-light-grey {
  color: #EEE;
}

.text-dark-grey {
  color: #666;
}

.text-green {
  color: #58B957;
}

.text-black {
  color: #000;
}

.text-shadow {
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.text-light { font-weight: 300; }
.text-normal { font-weight: 400; }
.text-bold { font-weight: 700; }

.text-underline {
  text-decoration: underline;
}

@for $i from 1 through 99 {
  .text-sm-#{$i} {
    font-size: #{$i/100}em;
  }
  .text-lg-#{$i} {
    font-size: #{$i/100 + 100}em;
  }
}
