$color-orange:              #F65314 !default;
$color-yellow:              #FFBB00 !default;
$color-green:               #7CBB00 !default;
// $color-blue:                #00A1F1 !default;
$color-blue:                #30B4FF !default;
$color-light-blue:          #63A6FF !default;

$color-grey:                #333 !default;
$color-grey2:               #4B5C72 !default;
$color-grey3:               #98A8BB !default;
$color-grey4:               #D6D6D6 !default;
$color-grey5:               #ECECEC !default;
$color-grey6:               #F6F6F6 !default;

$brand-primary:             $color-blue;
$brand-success:             $color-green;
$brand-info:                #fff !default;
$brand-warning:             $color-yellow;
$brand-danger:              $color-orange;

// $gray-dark:                 #001837 !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$state-success-text:        darken($brand-success, 10%) !default;
$state-success-bg:          lighten($brand-success, 50%) !default;
$state-success-border:      lighten($state-success-text, 20%) !default;

$state-info-text:           darken($brand-primary, 10%) !default;
$state-info-bg:             lighten($brand-primary, 40%) !default;
$state-info-border:         lighten($state-info-text, 20%) !default;

$state-warning-text:        darken($brand-warning, 10%) !default;
$state-warning-bg:          lighten($brand-warning, 40%) !default;
$state-warning-border:      lighten($state-warning-text, 20%) !default;

$state-danger-text:         darken($brand-danger, 10%) !default;
$state-danger-bg:           lighten($brand-danger, 40%) !default;
$state-danger-border:       lighten($state-danger-text, 20%) !default;
