<div class="container">
  <h1>Welcome to the Overview of Minimal Viable Product</h1>
  <hr>
  <div class="row">
    <div class="col-sm-8">
      <p>
        This is the testing screen for minimum viable product.
      </p>
      <%= link_to "Click here for the styleguide", styleguide_path %>
    </div>
    <div class="col-sm-4 text-center">
      <%= image_tag 'gardenwork.jpg', width: '100%' %>
      <small>I needed a picture</small>
    </div>
  </div>
</div>
