.table th {
  border-top: 0;
  margin-bottom: 0;
}

.table.no-top-border {
  tr:first-child td {
    border-top: 0;
  }
}

.table.table-flush {
  tr {
    td, th {
      &:first-child { padding-left: 0; }
    }
  }

  tr {
    td, th {
      &:last-child { padding-right: 0; }
    }
  }
}
