<nav class="navbar navbar-light bg-faded mt50">
  <a class="navbar-brand" href="/">__PROJECT_NAME__</a>
  <ul class="nav navbar-nav float-lg-right">
    <li class="nav-item active">
      <%= link_to 'Examples', examples_path, class: 'nav-link' %>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
  </ul>
</nav>
