.bt { border-top: 1px solid $gray-light !important; }
.bb { border-bottom: solid $gray-light 1px !important; }
.bl { border-left: 1px solid $gray-light !important; }
.br { border-right: 1px solid $gray-light !important; }
.b  { border: 1px solid $gray-light !important; }

.no-border { border: none !important; }
