<div class="mb20">
  <h1>Blog letterpress kogi, brooklyn man braid banh mi pickled echo park next level taxidermy scenester tote bag deep v.</h1>
  <h2>Blog letterpress kogi, brooklyn man braid banh mi pickled echo park next level taxidermy scenester tote bag deep v.</h2>
  <h3>Blog letterpress kogi, brooklyn man braid banh mi pickled echo park next level taxidermy scenester tote bag deep v.</h3>
  <h4>Blog letterpress kogi, brooklyn man braid banh mi pickled echo park next level taxidermy scenester tote bag deep v.</h4>
  <h5>Blog letterpress kogi, brooklyn man braid banh mi pickled echo park next level taxidermy scenester tote bag deep v.</h5>
  <h6>Blog letterpress kogi, brooklyn man braid banh mi pickled echo park next level taxidermy scenester tote bag deep v.</h6>
</div>

<div class="mb20">
  <p class="lead">
    Umami single-origin coffee 90's yuccie, forage meditation paleo synth kinfolk 8-bit iPhone. Blog marfa gastropub, messenger bag bespoke lumbersexual pork belly neutra cronut selvage vinyl irony kale chips. Hammock dreamcatcher skateboard 90's neutra.
    Occupy banh mi try-hard typewriter post-ironic pitchfork, selfies neutra farm-to-table synth quinoa church-key.
  </p>
</div>

<div class="mb20">
  <h2>Skateboard gluten-free gastropub mustache, helvetica flannel sustainable kogi stumptown echo park.</h2>
</div>

<div class="mb20">
  <p>
    Gentrify flexitarian seitan, yr street art cronut viral health goth bicycle rights chambray godard authentic pinterest. Fashion axe neutra put a bird on it, chartreuse craft beer health goth mlkshk green juice artisan sustainable narwhal 3 wolf moon.
    Bespoke vice sriracha, DIY aesthetic XOXO beard banh mi. Pop-up tacos bespoke distillery, banjo tousled
  </p>
</div>

<div class="mb20">
  <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
  <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
  <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
  <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
  <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
</div>

<div class="mb20">
  <p class="p10 mb10 bg-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
  <p class="p10 mb10 bg-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
  <p class="p10 mb10 bg-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  <p class="p10 mb10 bg-warning">Etiam porta sem malesuada magna mollis euismod.</p>
  <p class="p10 mb10 bg-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
</div>

<div class="mb20">
  <div aria-label="..." class="btn-group" role="group">
    <button class="btn btn-default" type="button">Left</button>
    <button class="btn btn-default" type="button">Middle</button>
    <button class="btn btn-default" type="button">Right</button>
  </div>
</div>
