<div class="row mt100">
  <div class="col-sm-6 col-sm-push-3">
    <div class="panel">
      <div class="panel-heading">
        <h4 class="panel-title">Conversion</h4>
      </div>
      <div class="panel-body">
        Success Page
      </div>
    </div>
  </div>
</div>
