<div class="row mt100 justify-content-center">
  <div class="col-md-8 col-lg-6">
    <h1 class="text-center mb10">mvpkit is running</h1>
    <p class='text-center mb50'>
      By default, this page is setup to accept an email submission and store in the database.  Depending on your configuration, this will fire an conversion event and even submit to Slack.
    </p>

    <%= react_component 'Conversion' %>
  </div>
</div>
