<% page.classes = "body-carousel" %>

<%- content_for :body do %>
<div class="container">
  <%= render 'layouts/mvp/header' %>
</div>
<%= yield :carousel %>
<div class="container">
  <%= yield %>
</div>
<% end %>

<%= render template: "layouts/mvp/application" %>
