# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
/log
.env
/app/assets/**/*compiled*
/public/assets/
/public/uploads
/design/
/vendor/assets/components
node_modules
*.psd
.byebug_history
*.old
npm-debug.log
node_modules
