<% page.classes = "body-carousel" %>

<%- content_for :body do %>
  <% if content_for :header %>
    <%= yield :header %>
  <% end %>
  <%= yield :carousel %>
  <div class="container">
    <%= yield %>
  </div>
<% end %>

<%= render template: "layouts/minimum_viable_product/application" %>
