body.body-cover {
  text-align: center;

  .site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
  }
  .site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
  }
  .cover-container {
    margin-right: auto;
    margin-left: auto;
  }

  /* Padding for spacing */
  .inner {
    padding: 30px;
  }


  /*
   * Header
   */
  .masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .masthead-nav > li {
    display: inline-block;
  }
  .masthead-nav > li + li {
    margin-left: 20px;
  }
  .masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
  }
  .masthead-nav > li > a:hover,
  .masthead-nav > li > a:focus {
    background-color: transparent;
  }
  .masthead-nav > .active > a,
  .masthead-nav > .active > a:hover,
  .masthead-nav > .active > a:focus {

  }

  @media (min-width: 768px) {
    .masthead-brand {
      float: left;
    }
    .masthead-nav {
      float: right;
    }
  }


  /*
   * Cover
   */

  .cover {
    padding: 0 20px;
  }
  .cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
  }


  /*
   * Affix and center
   */

  @media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
      position: fixed;
      top: 0;
    }
    .mastfoot {
      position: fixed;
      bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
      vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
      width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
  }

  @media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
      width: 700px;
    }
  }
}
