.alert {
  text-align: center;
  font-family: 'Adelle-Sans-Bold', sans-serif;
  font-weight: bold;
  color: $color-black;
  a {
    color: $color-black !important;
    text-decoration: underline;
  }
}
