<div class="container">
  <section>
    <h1>Grouping</h1>
    <%= render 'styleguide/elements/grouping' %>
  </section>
</div>

<style media="screen">
  section {
    margin-bottom: 100px;
  }

  section h1 {
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
  }
</style>
