<div class="mb20">
  <p class="mb10">
    <button class="btn btn-default" type="button">Default</button>
    <button class="btn btn-primary" type="button">Primary</button>
    <button class="btn btn-success" type="button">Success</button>
    <button class="btn btn-info" type="button">Info</button>
    <button class="btn btn-warning" type="button">Warning</button>
    <button class="btn btn-danger" type="button">Danger</button>
    <button class="btn btn-link" type="button">Link</button>
  </p>

  <p class="mb10">
    <button class="btn btn-primary btn-lg" type="button">Large button</button>
    <button class="btn btn-default btn-lg" type="button">Large button</button>
  </p>
  <p class="mb10">
    <button class="btn btn-primary" type="button">Default button</button>
    <button class="btn btn-default" type="button">Default button</button>
  </p>
  <p class="mb10">
    <button class="btn btn-primary btn-sm" type="button">Small button</button>
    <button class="btn btn-default btn-sm" type="button">Small button</button>
  </p>
  <p class="mb10">
    <button class="btn btn-primary btn-xs" type="button">Extra small button</button>
    <button class="btn btn-default btn-xs" type="button">Extra small button</button>
  </p>
</div>

<div class="mb20">
  <div aria-label="Toolbar with button groups" class="btn-toolbar" role="toolbar">
    <div aria-label="First group" class="btn-group" role="group">
      <button class="btn btn-default" type="button">1</button>
      <button class="btn btn-default" type="button">2</button>
      <button class="btn btn-default" type="button">3</button>
      <button class="btn btn-default" type="button">4</button>
    </div>
    <div aria-label="Second group" class="btn-group" role="group">
      <button class="btn btn-default" type="button">5</button>
      <button class="btn btn-default" type="button">6</button>
      <button class="btn btn-default" type="button">7</button>
    </div>
    <div aria-label="Third group" class="btn-group" role="group">
      <button class="btn btn-default" type="button">8</button>
    </div>
  </div>
</div>

<div class="mb20">
  <div aria-label="Button group with nested dropdown" class="btn-group" role="group">
    <button class="btn btn-default" type="button">1</button>
    <button class="btn btn-default" type="button">2</button>
    <div class="btn-group" role="group">
      <button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="btnGroupDrop1" type="button">
        Dropdown
        <span class="caret"></span>
      </button>
      <ul aria-labelledby="btnGroupDrop1" class="dropdown-menu">
        <li>
          <a href="#">Dropdown link</a>
        </li>
        <li>
          <a href="#">Dropdown link</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="mb20">
  <div class="btn-group">
    <button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">Default
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="#">Action</a>
      </li>
      <li>
        <a href="#">Another action</a>
      </li>
      <li>
        <a href="#">Something else here</a>
      </li>
      <li class="divider" role="separator"></li>
      <li>
        <a href="#">Separated link</a>
      </li>
    </ul>
  </div>
  <div class="btn-group">
    <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button">Primary
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="#">Action</a>
      </li>
      <li>
        <a href="#">Another action</a>
      </li>
      <li>
        <a href="#">Something else here</a>
      </li>
      <li class="divider" role="separator"></li>
      <li>
        <a href="#">Separated link</a>
      </li>
    </ul>
  </div>
  <div class="btn-group">
    <button aria-expanded="false" aria-haspopup="true" class="btn btn-success dropdown-toggle" data-toggle="dropdown" type="button">Success
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="#">Action</a>
      </li>
      <li>
        <a href="#">Another action</a>
      </li>
      <li>
        <a href="#">Something else here</a>
      </li>
      <li class="divider" role="separator"></li>
      <li>
        <a href="#">Separated link</a>
      </li>
    </ul>
  </div>
  <div class="btn-group">
    <button aria-expanded="false" aria-haspopup="true" class="btn btn-info dropdown-toggle" data-toggle="dropdown" type="button">Info
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="#">Action</a>
      </li>
      <li>
        <a href="#">Another action</a>
      </li>
      <li>
        <a href="#">Something else here</a>
      </li>
      <li class="divider" role="separator"></li>
      <li>
        <a href="#">Separated link</a>
      </li>
    </ul>
  </div>
  <div class="btn-group">
    <button aria-expanded="false" aria-haspopup="true" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" type="button">Warning
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="#">Action</a>
      </li>
      <li>
        <a href="#">Another action</a>
      </li>
      <li>
        <a href="#">Something else here</a>
      </li>
      <li class="divider" role="separator"></li>
      <li>
        <a href="#">Separated link</a>
      </li>
    </ul>
  </div>
  <div class="btn-group">
    <button aria-expanded="false" aria-haspopup="true" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" type="button">Danger
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="#">Action</a>
      </li>
      <li>
        <a href="#">Another action</a>
      </li>
      <li>
        <a href="#">Something else here</a>
      </li>
      <li class="divider" role="separator"></li>
      <li>
        <a href="#">Separated link</a>
      </li>
    </ul>
  </div>
</div>
