

<div class="mb20">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input class="form-control" id="exampleInputEmail1" placeholder="Email" type="email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input class="form-control" id="exampleInputPassword1" placeholder="Password" type="password">
    </div>
    <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input id="exampleInputFile" type="file">
      <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        Check me out
      </label>
    </div>
    <button class="btn btn-default" type="submit">Submit</button>
  </form>
</div>

<form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Name</label>
    <input class="form-control" id="exampleInputName2" placeholder="Jane Doe" type="text">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Email</label>
    <input class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com" type="email">
  </div>
  <button class="btn btn-default" type="submit">Send invitation</button>
</form>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="inputEmail3">Email</label>
    <div class="col-sm-10">
      <input class="form-control" id="inputEmail3" placeholder="Email" type="email">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="inputPassword3">Password</label>
    <div class="col-sm-10">
      <input class="form-control" id="inputPassword3" placeholder="Password" type="password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox">
          Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-default" type="submit">Sign in</button>
    </div>
  </div>
</form>

<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Option one is this and that&mdash;be sure to include why it's great
  </label>
</div>
<div class="checkbox disabled">
  <label>
    <input disabled type="checkbox" value="">
    Option two is disabled
  </label>
</div>

<div class="radio">
  <label>
    <input checked id="optionsRadios1" name="optionsRadios" type="radio" value="option1">
    Option one is this and that&mdash;be sure to include why it's great
  </label>
</div>
<div class="radio">
  <label>
    <input id="optionsRadios2" name="optionsRadios" type="radio" value="option2">
    Option two can be something else and selecting it will deselect option one
  </label>
</div>
<div class="radio disabled">
  <label>
    <input disabled id="optionsRadios3" name="optionsRadios" type="radio" value="option3">
    Option three is disabled
  </label>
</div>

<select class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>

<textarea class="form-control" rows="3"></textarea>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <p class="form-control-static">email@example.com</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="inputPassword">Password</label>
    <div class="col-sm-10">
      <input class="form-control" id="inputPassword" placeholder="Password" type="password">
    </div>
  </div>
</form>

<input class="form-control" disabled id="disabledInput" placeholder="Disabled input here..." type="text">

<form>
  <fieldset disabled>
    <div class="form-group">
      <label for="disabledTextInput">Disabled input</label>
      <input class="form-control" id="disabledTextInput" placeholder="Disabled input" type="text">
    </div>
    <div class="form-group">
      <label for="disabledSelect">Disabled select menu</label>
      <select class="form-control" id="disabledSelect">
        <option>Disabled select</option>
      </select>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        Can't check this
      </label>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </fieldset>
</form>

<label class="sr-only" for="inputHelpBlock">Input with help text</label>
<input aria-describedby="helpBlock" class="form-control" id="inputHelpBlock" type="text">
...
<span class="help-block" id="helpBlock">A block of help text that breaks onto a new line and may extend beyond one line.</span>

<div class="form-group has-success">
  <label class="control-label" for="inputSuccess1">Input with success</label>
  <input aria-describedby="helpBlock2" class="form-control" id="inputSuccess1" type="text">
  <span class="help-block" id="helpBlock2">A block of help text that breaks onto a new line and may extend beyond one line.</span>
</div>
<div class="form-group has-warning">
  <label class="control-label" for="inputWarning1">Input with warning</label>
  <input class="form-control" id="inputWarning1" type="text">
</div>
<div class="form-group has-error">
  <label class="control-label" for="inputError1">Input with error</label>
  <input class="form-control" id="inputError1" type="text">
</div>
<div class="has-success">
  <div class="checkbox">
    <label>
      <input id="checkboxSuccess" type="checkbox" value="option1">
      Checkbox with success
    </label>
  </div>
</div>
<div class="has-warning">
  <div class="checkbox">
    <label>
      <input id="checkboxWarning" type="checkbox" value="option1">
      Checkbox with warning
    </label>
  </div>
</div>
<div class="has-error">
  <div class="checkbox">
    <label>
      <input id="checkboxError" type="checkbox" value="option1">
      Checkbox with error
    </label>
  </div>
</div>
